.page-separator-container {
  width: 20px;
  height: 40px;
}

.page-separator-container-on-hover {
  width: 56px;
}

.page-separator {
  height: 1px;
  border: 0;
  border-bottom: 1px dashed #ccc;
  padding: 0;
  transition: width 0.3s ease;
  width: 100%;
}

.page-separator-page-add {
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
}