.page-separator-container {
  width: 20px;
  height: 32px;
  transition: width 0.3s ease;
}

.page-separator-container-on-hover {
  width: 56px;
}

.page-separator {
  height: 1px;
  border: 0;
  border-bottom: 1.8px dashed #C0C0C0;
  padding: 0;
  width: 100%;
}