.page-nav-item {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}

.page-nav-item.active {
  background-color: lightblue;
}