@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-fillout-dark: #1a1a1a;
  --color-fillout-danger: #EF494F;
  --color-fillout-gray-50: #FAFBFC;
}