@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-fillout-zinc-900: #1a1a1a;
  --color-fillout-red-500: #EF494F;
  --color-fillout-gray-50: #FAFBFC;
  --color-fillout-gray-400: #9DA4B2;
  --color-fillout-amber-500: #F59D0E;
  --color-fillout-blue-600: #2F72E2;
}